# **Python Pandas Practice**

In [4]:
import pandas as pd

In [6]:
df=pd.read_csv("/Salaries.csv")

In [ ]:
df.head(10)

In [ ]:
df.dtypes

In [ ]:
df.size

468

In [ ]:
df.shape

(78, 6)

In [ ]:
df.columns

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

In [ ]:
df.axes

[RangeIndex(start=0, stop=78, step=1),
 Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')]

In [ ]:
df.values

In [9]:
df.shape[1]

6

In [ ]:
df.dtypes

In [17]:
df.describe()

             phd    service         salary
count  78.000000  78.000000      78.000000
mean   19.705128  15.051282  108023.782051
std    12.498425  12.139768   28293.661022
min     1.000000   0.000000   57800.000000
25%    10.250000   5.250000   88612.500000
50%    18.500000  14.500000  104671.000000
75%    27.750000  20.750000  126774.750000
max    56.000000  51.000000  186960.000000

In [12]:
df.max()

rank            Prof
discipline         B
phd               56
service           51
sex             Male
salary        186960
dtype: object

In [14]:
df.count()

rank          78
discipline    78
phd           78
service       78
sex           78
salary        78
dtype: int64

In [18]:
df.std()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

phd           12.498425
service       12.139768
salary     28293.661022
dtype: float64

In [24]:
df_sub=df.head(50)

In [25]:
df_sub.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

phd            21.52
service        17.60
salary     113789.14
dtype: float64

In [ ]:
df.phd

In [29]:
df_phd=df.phd

In [34]:
df_phd.describe()

count    78.000000
mean     19.705128
std      12.498425
min       1.000000
25%      10.250000
50%      18.500000
75%      27.750000
max      56.000000
Name: phd, dtype: float64

In [36]:
df_phd.count()

78

In [37]:
df_phd.mean()

19.705128205128204

In [ ]:
df.groupby(['rank']).mean()

In [39]:
df['salary']>12000

0     True
1     True
2     True
3     True
4     True
      ...
73    True
74    True
75    True
76    True
77    True
Name: salary, Length: 78, dtype: bool

In [40]:
df.iloc[1:5,3:6]

   service   sex  salary
1        6  Male   93000
2       20  Male  110515
3       31  Male  131205
4       18  Male  104800

In [ ]:
df.iloc[1:11,1:4]

In [50]:
df.iloc[:,5:7]

    salary
0   186960
1    93000
2   110515
3   131205
4   104800
..     ...
73  105450
74  104542
75  124312
76  109954
77  109646

[78 rows x 1 columns]

In [51]:
df.iloc[59:60]

         rank discipline  phd  service     sex  salary
59  AssocProf          B   12       10  Female  103994

In [52]:
df.iloc[[0,2]]

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
2  Prof          A   23       20  Male  110515

In [53]:
df[['phd','salary']].agg(['min','max','mean'])

            phd         salary
min    1.000000   57800.000000
max   56.000000  186960.000000
mean  19.705128  108023.782051